<section class="hero"
  style="background-color: rgb(10, 163, 125); border-bottom: rgb(12, 14, 15) 5px solid; border-left: rgb(12, 14, 15) 5px solid; border-right: rgb(12, 14, 15) 5px solid; ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered animated lightSpeedIn">
        Take Me Away....<i class="fa-solid fa-earth-africa"></i>
      </h1>
      <div>
        {{#if logged_in}}
        <button class="button" id="logout">logout</button>
        {{else}}
        <p href="/login">login</p>
        {{/if}}
        </nav>
      </div>
    </div>
</section>
<br /><br />
<div class="field">
  <label class="country-label">Add Country</label>
  <div class="control">
    <input id="autocomplete" class="input" placeholder="Add Country" type="text" />
  </div>
</div>
<br /><br />
<div class="container animated fadeIn delay-1s">
  <div class="columns is-multiline is-mobile" style="background-color: rgb(10, 163, 125);">
    <div class="column is-2"></div>
    <div class="card-column is-4">
      <label class="label">Please enter your travel dates, where you are going and your Itinerary.</label>
      <div class="destination-list">
        <div class="row mb-4 destinations">
          <div class="col-md-5">
          </div>
          <div class="col-md-7">
          </div>
        </div>
      </div>
      <br /><br />
      <div class="card">
        {{#each destinations as |destinations| }}
        <header class="card-header">
          <p class="card-header-title">
            {{destinations.country}}
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{{destinations.destination}} </p>
            <p> {{destinations.itin}}</p>

            <br>

            <p> Trip date {{format_date destinations.date}} </p>
            <p>Created by {{destinations.user.name}}</p>


          </div>
        </div>
        <footer class="card-footer">
          <a href="#" id="saveOne" class="card-footer-item">Save</a>
          <a href="#" id="editOne" class="card-footer-item">Edit</a>
          <a href="#" id="deleteOne" class="card-footer-item" data-id="{{destinations.id}}">Delete</a>
        </footer>
        {{/each}}
      </div>

    </div>
    <div class=" column is-1 has-text-centered">
    </div>
    <div class="column is-4">
      <h1 class="datePick">Enter Date</h1>

      <input id="date" type="date">
      <br><br />

      <div class="field">
        <label class="label">Where are you going?</label>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <!--Itin City Input-->
                <input class="input" type="text" placeholder="City" id="itinCity" />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Itinerary</label>
        <div class="control">

          <textarea id="itinAct" class="textarea" placeholder="Activities, Sightseeing"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button id="saveItinBtn" class="button is-info is-light">
            Save
          </button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
</div>
<br /><br />
<section class="hero"
  style="background-color: rgb(10, 163, 125); border-top: rgb(12, 14, 15) 5px solid; border-right: rgb(12, 14, 15) 5px solid; border-left: rgb(12, 14, 15) 5px solid; ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered animated lightSpeedIn">
        Take Me Away....<i class="fa-solid fa-earth-africa"></i>
      </h1>
      {{!-- <footer class="footer"></footer> --}}

      <script src="/controllers/api/autocomplete.js"></script>
      <script src="/js/dashboard.js"></script>